<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/google-icons.css">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="{{style}}">
    </head>
    
    <body>
        {{{body}}}
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col s12 center">
                        <h5>Want to Learn More? Connect with Us!</h5>
                        <ul id="footerLinks">
                            <li><a href="#"><i class="footer-icons mdi mdi-24px mdi-facebook"></i></a></li>
                            <li><a href="#"><i class="footer-icons mdi mdi-24px mdi-twitter"></i></a></li>
                            <li><a href="#"><i class="footer-icons mdi mdi-24px mdi-instagram"></i></a></li>
                            <li><a href="#"><i class="footer-icons mdi mdi-24px mdi-linkedin"></i></a></li>
                            <li><a href="#"><i class="footer-icons mdi mdi-24px mdi-medium"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center green-text text-darken-2">
                    &copy; 2018 Edufy All Rights Reserved - Powered by Vegistech
                </div>
            </div>
        </footer>
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="{{script}}"></script>
    </body>
    
</html>