<div style="height: 30px;" class="row top-contact" id="page-top">
    <div class="col s12 container center">
        <span>Have any questions?</span>
        <span><i class="top-contact-icons material-icons preset">phone</i>+2349026425337</span>
        <span><i class="top-contact-icons material-icons">email</i>nomsouzoanya@yahoo.co.uk</span> 
    </div>
</div>

<div id="navigation">
    <nav class="pushpin">
        <ul id="login-dropdown" class="dropdown-content">
            <li><a class="dropdown-links modal-trigger" data-target="studentLoginModal">Student</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links modal-trigger" data-target="teacherLoginModal">Teacher</a></li>
        </ul>
        <ul id="signup-dropdown" class="dropdown-content">
            <li><a class="dropdown-links" href="/students/register">Student</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="/teachers/register">Teacher</a></li>
        </ul>
        <ul id="courses-dropdown" class="dropdown-content">
            <li><a class="dropdown-links" href="#">Computer Studies</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Commerce</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Biology</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Chemistry</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Physics</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Christian Religious Studies</a></li>
        </ul>

        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo"><i id="logo" class="mdi mdi-school"></i>Edufy</a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="menu-icon mdi mdi-menu"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href=""><i class="nav-icons mdi mdi-home left"></i>Home</a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="courses-dropdown"><i class="nav-icons mdi mdi-google-pages left"></i>Courses<i class="mdi mdi-menu-down right"></i></a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="signup-dropdown"><i class="nav-icons mdi mdi-account-plus left"></i>Register<i class="mdi mdi-menu-down right"></i></a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="login-dropdown"><i class="nav-icons mdi mdi-login left"></i>Login<i class="mdi mdi-menu-down right"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul id="mobile-login-dropdown" class="dropdown-content">
        <li><a class="dropdown-links modal-trigger" data-target="studentLoginModal">Student</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links modal-trigger" data-target="teacherLoginModal">Teacher</a></li>
    </ul>
    <ul id="mobile-signup-dropdown" class="dropdown-content">
        <li><a class="dropdown-links" href="/students/register">Student</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="/teachers/register">Teacher</a></li>
    </ul>
    <ul id="mobile-courses-dropdown" class="dropdown-content">
        <li><a class="dropdown-links" href="#">Computer Studies</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Commerce</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Biology</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Chemistry</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Physics</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Christian Religious Studies</a></li>
    </ul>

    <ul id="mobile-menu" class="sidenav">
        <li><a href="#" class="dropdown-links"><i class="green-text text-darken-2 mdi mdi-home"></i>Home</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#" class="dropdown-trigger" data-target="mobile-courses-dropdown"><i class="green-text text-darken-2 mdi mdi-google-pages"></i>Courses</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="mobile-signup-dropdown"><i class="green-text text-darken-2 mdi mdi-account-plus"></i>Register</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="mobile-login-dropdown"><i class="green-text text-darken-2 mdi mdi-login"></i>Login</a></li>
    </ul>
</div>

<div id="studentLoginModal" class="modal">
    <div class="modal-content">
        <form name="studentLoginForm" method="POST" action="/students/login">
            <div class="row">
                <div class="col s12 center-align">
                    <i class="mdi mdi-account-multiple login-form-avatar"></i>
                    <h4>Student Login</h4>
                </div>
                <div class="col s12">
                    <div class="input-field">
                        <i class="mdi mdi-email-outline prefix form-icons"></i>
                        <input type="email" id="studentEmail" name="studentEmail" class="validate">
                        <label for="studentEmail">Email Address</label>
                        <span id="studentEmailErrorMessage" class="helper-text" data-error="Invalid email address!" data-success=""></span>
                    </div>
                </div>
            
                <div class="col s12">
                    <div class="input-field">
                        <i class="mdi mdi-lock-outline prefix form-icons"></i>
                        <input type="password" id="studentPassword" name="studentPassword" class="validate">
                        <label for="studentPassword">Password</label>
                        <span id="studentPasswordErrorMessage" class="helper-text" data-error="Please provide your password!" data-success=""></span>
                    </div>
                </div>
                {{!-- <span id="incorrectStudentData" class="red-text">Incorrect Email or Password!</span> --}}
            </div>
            <div class="center-align input-field">
                <button id="studentLoginButton" type="submit">Log in</button>
            </div>
            <br>
            <div class="input-field center-align">
                <p>Not Registered? <a class="form-links" href="/students/register">Sign up!</a></p>
            </div>
        </form>
    </div>
</div>

<div id="teacherLoginModal" class="modal">
    <div class="modal-content">
        {{!-- <i class="mdi mdi-close right login-form-close-btn mdi-24px tooltipped modal-close"></i> --}}
        <form name="TeacherLoginForm" method="POST" action="/teachers/login">
            <div class="row">
                <div class="col s12 center-align">
                    <i class="mdi mdi-account-multiple login-form-avatar"></i>
                    <h4>Teacher Login</h4>
                </div>
                <div class="col s12">
                    <div class="input-field">
                        <i class="mdi mdi-email-outline prefix form-icons"></i>
                        <input type="email" id="teacherEmail" name="teacherEmail" class="validate">
                        <label for="teacherEmail">Email Address</label>
                        <span id="teacherEmailErrorMessage" class="helper-text" data-error="Invalid email address!" data-success=""></span>
                    </div>
                </div>
            
                <div class="col s12">
                    <div class="input-field">
                        <i class="mdi mdi-lock-outline prefix form-icons"></i>
                        <input type="password" id="teacherPassword" name="teacherPassword" class="validate">
                        <label for="teacherPassword">Password</label>
                        <span  id="teacherPasswordErrorMessage"class="helper-text" data-error="Please provide your password!" data-success=""></span>
                    </div>
                </div>
            </div>
            <div class="center-align input-field">
                <button id="teacherLoginButton" type="submit">Log in</button>
            </div>
            <br>
            <div class="input-field center-align">
                <p>Not Registered? <a class="form-links" href="/teachers/register">Sign up!</a></p>
            </div>
        </form>
    </div>
</div>

<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row left">
                <h1 style="margin-top: 250px;" class="header col s12 light white-text">Tomorrow’s skills today</h1>
            </div>
        </div>
    </div>
    <div class="parallax responsive-img"><img src="img/parallax1.jpg" alt="Parallax Image"></div>
</div>

<div>
    <div class="container ">
        <h3 class="orange-text center">Welcome to Edufy E-Learning Service</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus tempore a perspiciatis itaque, sint ad quae voluptates omnis architecto quibusdam consequuntur maiores, eius vero nisi nulla sed placeat. Minus, ad.</p>
    </div>
    <div id="advert-section" class="row center">
        <div class="col s12 m6 l3">
            <i class="advert-icons mdi mdi-library-books center"></i>
            <h5 class="green-text text-darken-2">Books &amp; Library</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
        <div class="col s12 m6 l3">
            <i class="advert-icons mdi mdi-account-multiple align-center"></i>
            <h5 class="green-text text-darken-2">Learn from the Experts</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
        <div class="col s12 m6 l3">
            <i class="advert-icons mdi mdi-school align-center"></i>
            <h5 class="green-text text-darken-2">Best Online Courses</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
        <div class="col s12 m6 l3">
            <i class="advert-icons mdi mdi-earth align-center"></i>
            <h5 class="green-text text-darken-2">Best Industry Leaders</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
    </div>
</div>

<div id="popular" class="section">
    <div class="container">
        <div class="center">
            <h5 class="blue-text">Feautured Courses</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quae sed ipsa nihil placeat voluptatem voluptate possimus saepe qui est.</p>
        </div>
    
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/ecology.jpg" alt="Ecology">
                            <h5 class="center">Biology</h5>
                            <h6 class="center"><a href="#">Introduction to Ecology</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>23 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/demand.jpeg" alt="Effective Demand">
                            <h5 class="center">Commerce</h5>
                            <h6 class="center"><a href="#">Effective Demand</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>10 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>3 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/waves.jpg" alt="Waves">
                            <h5 class="center">Physics</h5>
                            <h6 class="center"><a href="#">Waves and Optics</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>30 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/mathematics.jpg" alt="">
                            <h5 class="center">Computer Studies</h5>
                            <h6 class="center"><a href="#">QBASIC: Novice to Ninja</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>20 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>4 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/hydrocarbons.png" alt="Hydrocarbons">
                            <h5 class="center">Chemistry</h5>
                            <h6 class="center"><a>Introduction to Hydrocarbons</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>30 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/matter.png" alt="Matter">
                            <h5 class="center">Physics</h5>
                            <h6 class="center"><a href="#">Matter</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>8 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>3 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/e-business.jpg" alt="Commerce E-Business">
                            <h5 class="center">Commerce</h5>
                            <h6 class="center"><a href="#">E-Business</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>19 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>4 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/algorithms.jpg" alt="Algorithms">
                            <h5 class="center">Computer Studies</h5>
                            <h6 class="center"><a>Introduction to Algorithms</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>30 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/faith.jpg" alt="Faith">
                            <h5 class="center">CRS</h5>
                            <h6 class="center"><a href="#">Faith</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>20 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>4 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/radioactivity.png" alt="Radioactivity">
                            <h5 class="center">Chemistry</h5>
                            <h6 class="center"><a href="#">Radioactivity</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>28 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/love.jpg" alt="Love">
                            <h5 class="center">CRS</h5>
                            <h6 class="center"><a href="#">Love</a></h6>   
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>25 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <a href="#">
                        <div class="card-image">
                            <img src="img/reproduction.jpeg" alt="Reproduction">
                            <h5 class="center">Biology</h5>
                            <h6 class="center"><a href="#">Reproduction</a></h6>
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="icons">
                            <i class="mdi mdi-school card-icons"></i><span>30 Students</span>
                            <i class="mdi mdi-star card-icons"></i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="img/books.jpg" alt="parallax2"></div>
    <h2 id="parallax2-text">Content Means Everything</h2>
</div>

<div>
    <div class="container" id="about-us">
        <h4 class="blue-text center">About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, rem illum! Quis debitis pariatur nisi quisquam officiis reprehenderit, doloribus quasi sunt ullam, cupiditate sapiente veniam consequatur? Quas dolorem eius voluptate.</p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="img/academy-banner.jpg" alt="parallax2"></div>
    <h2 id="parallax3-text">Bringing People to Learn</h2>
</div>

<div class="fixed-action-btn">
    <a href="#page-top" class="z-depth-4 btn-floating fab" id="top"><i id="top-arrow" class="green darken-2 mdi mdi-chevron-up"></i></a>
</div>

<div class="progress">
      <div class="indeterminate"></div>
</div>