<div style="height: 30px;" class="row top-contact">
    <div class="col s12 container center">
        <span>Have any questions?</span>
        <span><i class="top-contact-icons material-icons preset">phone</i>+2349026425337</span>
        <span><i class="top-contact-icons material-icons">email</i>nomsouzoanya@yahoo.co.uk</span> 
    </div>
</div>

<div id="navigation">
    <nav class="pushpin green darken-2">
        <ul id="login-dropdown" class="dropdown-content">
            <li><a class="dropdown-links" href="#">Student</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Teacher</a></li>
        </ul>
        <ul id="signup-dropdown" class="dropdown-content">
            <li><a class="dropdown-links" href="#">Student</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Teacher</a></li>
        </ul>
        <ul id="courses" class="dropdown-content">
            <li><a class="dropdown-links" href="">Android Development</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="">Java Programming</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Web Development</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Chemistry</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Physics</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Drawing</a></li>
        </ul>

        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo"><i id="logo" class="material-icons">school</i>Edufy</a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="menu-icon material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href=""><i class="nav-icons material-icons left">home</i>Home</a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="courses"><i class="nav-icons material-icons left">pages</i>Courses<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="signup-dropdown"><i class="nav-icons material-icons left">person_add</i>Register<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="login-dropdown"><i class="nav-icons material-icons left">lock_outline</i>Login<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul id="mobile-menu" class="sidenav">
        {{!-- <li><a href=""><i class="material-icons right green-text text-darken-2">close</i></a></li> --}}
        <li><a href="#" class="dropdown-links"><i class="green-text text-darken-2 material-icons">home</i>Home</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#" class="dropdown-links"><i class="green-text text-darken-2 material-icons">pages</i>Courses</a></li>
        <li><a href="#" class="dropdown-links"><i class="green-text text-darken-2 material-icons">person_add</i>Register</a></li>
        <li><a href="#" class="dropdown-links"><i class="green-text text-darken-2 material-icons">lock_outline</i>Login</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <a class="collapsible-header">Signup<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!" class="red-text">Student</a></li>
                        <li><a href="#!" class="red-text">Teacher</a></li>
                    </ul>
                </div>
            </ul>
        </li>
    </ul>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 light blue-text">Quality leather shoes to match any occasion and terrain.</h4>
            </div>
        </div>
    </div>
    <div class="parallax responsive-img"><img src="img/parallax1.jpg" alt="Parallax Image"></div>
</div>

<div>
    <div class="container">
        <h3 class="orange-text center">Welcome to Edufy E-Learning Service</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus tempore a perspiciatis itaque, sint ad quae voluptates omnis architecto quibusdam consequuntur maiores, eius vero nisi nulla sed placeat. Minus, ad.</p>
    </div>
    <div id="advert-section" class="row center">
        <div class="col s12 m6 l3">
            <i class="advert-icons material-icons center">library_books</i>
            <h5 class="blue-text text-darken-2">Books &amp; Library</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
        <div class="col s12 m6 l3">
            <i class="advert-icons material-icons align-center">people</i>
            <h5 class="blue-text text-darken-2">Learn from the Experts</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
        <div class="col s12 m6 l3">
            <i class="advert-icons material-icons align-center">school</i>
            <h5 class="blue-text text-darken-2">Best Online Courses</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
        <div class="col s12 m6 l3">
            <i class="advert-icons material-icons align-center">public</i>
            <h5 class="blue-text text-darken-2">Best Industry Leaders</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, error.</p>
        </div>
    </div>
</div>

<div id="popular" class="section">
    <div class="container">
        <div class="center">
            <h5>Explore Courses</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quae sed ipsa nihil placeat voluptatem voluptate possimus saepe qui est.</p>
        </div>
    
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/mathematics.jpg" alt="">
                        <h6 class="center">Beginner to Pro in Geometry</h6>   
                    </div>
                    <div class="card-action">
                        <div class="icons">
                            <i class="material-icons card-icons">school</i><span>30 Students</span>
                            <i class="material-icons card-icons">star</i><span>5 Ratings</span>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="img/booksAndCofee.jpg" alt="parallax2"></div>
</div>

<div>
    <div class="container" id="about-us">
        <h4 class="center">About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, rem illum! Quis debitis pariatur nisi quisquam officiis reprehenderit, doloribus quasi sunt ullam, cupiditate sapiente veniam consequatur? Quas dolorem eius voluptate.</p>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h5>Want to Learn More? Connect with Us!</h5>
                <ul id="footerLinks">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center black-text">
            &copy; 2018 Edufy All Rights Reserved - Powered by Vegistech
        </div>
    </div>
</footer>