<div id="navigation">
    <nav class="pushpin green darken-2">
        <ul id="login-dropdown" class="dropdown-content">
            <li><a class="dropdown-links modal-trigger" data-target="studentLoginModal">Student</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links modal-trigger" data-target="teacherLoginModal">Teacher</a></li>
        </ul>
        <ul id="signup-dropdown" class="dropdown-content">
            <li><a class="dropdown-links" href="/students/register">Student</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="/teachers/register">Teacher</a></li>
        </ul>
        <ul id="courses-dropdown" class="dropdown-content">
            <li><a class="dropdown-links" href="#">Computer Studies</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Commerce</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Biology</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Chemistry</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Physics</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-links" href="#">Christian Religious Studies</a></li>
        </ul>

        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo"><i id="logo" class="mdi mdi-school"></i>Edufy</a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="menu-icon mdi mdi-menu"></i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href=""><i class="nav-icons mdi mdi-home left"></i>Home</a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="courses-dropdown"><i class="nav-icons mdi mdi-google-pages left"></i>Courses<i class="mdi mdi-menu-down right"></i></a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="signup-dropdown"><i class="nav-icons mdi mdi-account-plus left"></i>Register<i class="mdi mdi-menu-down right"></i></a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="login-dropdown"><i class="nav-icons mdi mdi-login left"></i>Login<i class="mdi mdi-menu-down right"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul id="mobile-login-dropdown" class="dropdown-content">
        <li><a class="dropdown-links modal-trigger" data-target="studentLoginModal">Student</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links modal-trigger" data-target="teacherLoginModal">Teacher</a></li>
    </ul>
    <ul id="mobile-signup-dropdown" class="dropdown-content">
        <li><a class="dropdown-links" href="/students/register">Student</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="/teachers/register">Teacher</a></li>
    </ul>
    <ul id="mobile-courses-dropdown" class="dropdown-content">
        <li><a class="dropdown-links" href="#">Computer Studies</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Commerce</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Biology</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Chemistry</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Physics</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-links" href="#">Christian Religious Studies</a></li>
    </ul>

    <ul id="mobile-menu" class="sidenav">
        <li><a href="#" class="dropdown-links"><i class="green-text text-darken-2 mdi mdi-home"></i>Home</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#" class="dropdown-trigger" data-target="mobile-courses-dropdown"><i class="green-text text-darken-2 mdi mdi-google-pages"></i>Courses</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="mobile-signup-dropdown"><i class="green-text text-darken-2 mdi mdi-account-plus"></i>Register</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="mobile-login-dropdown"><i class="green-text text-darken-2 mdi mdi-login"></i>Login</a></li>
    </ul>
</div>
<h1 class="red-text text-darken-2">Student Dashboard</h1>