nav {
	z-index: 99 !important;
}

#navigation {
	height: 64px;
}

#login-dropdown, #signup-dropdown, #courses-dropdown {
	position: absolute;
	top: -64px;
}

.dropdown-links {
	background-color: #f5f5f5 !important;
	color: rgba(0, 0, 0, 0.8) !important;
}

.dropdown-links:hover {
	background-color: #328036 !important;
	color: #ffffff !important;
} 

.sidenav {
	background-color: #f5f5f5 !important;
}

.sidenav .divider {
    margin: 0 !important;
}

.side-links:hover {
	color: #ffffff !important;
}

.menu-icon {
	color: #f5f5f5;
}

.pin-top {
  	position: relative;
}

.pin-bottom {
  	position: relative;
}

.pinned {
	position: fixed !important;
  	background-color: #328036 !important;
}

header, main {
	padding-left: 300px;
}

#welcomeMessage {
	background-color: rgba(50, 128, 54, 0.6);
	color: #ffffff;
	text-align: center;
	font-size: 100%;
	padding: 15px;
}

.collection-header {
	background-color: #328036 !important;
	color: #ffffff;
}

.collection-item:hover {
	background-color: #f5f5f5 !important;
}

#questionHeader {
	color: rgba(0, 0, 0, 0.5);
}

.mdi-close:hover {
	color: #328036;
}
.answered-questions {
	border: 2px solid #f1f1f1;
	padding-left: 20px;
	margin-top: 10px;
}