#footerLinks {
	margin: 50px auto !important;
}

#footerLinks li {
	display: inline-block;
	margin-left: 20px;
}

footer {
	color: rgba(0, 0, 0, 0.6) !important;
}

.page-footer {
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, 0.6);
}

.footer-icons {
	color: #328036;
}

.footer-icons:hover {
	color: #ffa500;
}

.footer-copyright {
	padding: 50px !important;
	font-size: 20px;
}

#copyright {
	font-size: 15px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}